<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>681821793276-j267is8togmf2hn7imc4m2tu4vksfkc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681821793276-j267is8togmf2hn7imc4m2tu4vksfkc4</string>
	<key>API_KEY</key>
	<string>AIzaSyAeyY96ozQQGp_soHTAHGg5HOQiHSWpv1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>681821793276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.endava.amw</string>
	<key>PROJECT_ID</key>
	<string>amweek-eae7f</string>
	<key>STORAGE_BUCKET</key>
	<string>amweek-eae7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:681821793276:ios:f68510446428b93f</string>
	<key>DATABASE_URL</key>
	<string>https://amweek-eae7f.firebaseio.com</string>
</dict>
</plist>